.pio
platformio-device-monitor-*
*.sch-bak
*-backups
_autosave-*

compile_commands.json
.cache
.ctagsd
.vscode
.codelite
workspace.*
*.workspace
*.bak*
.*.bak*
*.log

/todo
/todo.*
/temp
/notes

/config/bak
/config/saved
/config/pindefs_*
