.pio
platformio-device-monitor-*
*.sch-bak
*-backups
_autosave-*

compile_commands.json
.cache
.ctagsd
.vscode
.codelite
workspace.*
*.workspace
*.bak*
.*.bak*
*.log

/todo
/todo.*
/temp
/notes

/config/config.h
/config/advanced.h
/config/sensors.c
/config/tables.c
/config/controllers.c
/config/bak
/config/saved
